h3 {
  @apply mb-4 text-base font-semibold;
}

button[type='button'] {
  @apply w-fit text-nowrap rounded-md border border-gray-300 bg-white p-2 hover:bg-gray-100 active:bg-gray-200;
}

.card {
  @apply rounded-lg bg-white p-4;
}

/* === ANIMATIONS === */
.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-300;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.fade-enter-to,
.fade-leave-from {
  @apply opacity-100;
}
